@media all and (max-device-width: 599) {
  .Page2__container > button, .Page2__track > button {
    font-size: 36px;
    margin: 10px;
  }

  .Page2__container > p {
    font-size: 48px;
  }

  .Page2__tracksContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }
}

@media all and (min-device-width: 600px) {
  .Page2__tracksContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }
}