@media all and (min-device-width: 600px) {

  .Post__container {
    max-width: 400px;
  }

}

@media all and (max-device-width: 599px) {

  .Post__container {
    width: 90%;
  }

}

.Post__container {
  margin: 10px;
  padding: 10px;
  background-color: darkcyan;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 3px #000000;
}

.Post__title {
  margin: 5px 0;
  font-size: 24px;
  color: white;
}

.Post__content {
  color: bisque;
}